body {
    background-color: #e3c28f;
    background-image: url(../../image/background.jpg?v=c507f90ca5033a5a46333f7a47532a9a);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 0;
    padding: 0
}
.img-btn {
    text-indent: -999px;
    border: none;
    background-color: transparent;
    padding: 0
}
.wrapper {
    width: 285px;
    height: 410px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: none
}
.slides {
    position: relative;
    width: 100%;
    height: 100%
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #decebd
}
.slide .bg {
    width: 100%;
    height: 100%;
    display: block
}
.prev-btn, .next-btn, .audio-btn {
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -999px;
    z-index: 999
}
.prev-btn {
    background-image: url(../../image/back.png?v=c06e3bd5c771b003ca30eab2f86433af);
    bottom: 10px;
    left: 24px;
    width: 12px;
    height: 12px;
    background-size: auto 12px;
    -webkit-animation: prev-btn 1s infinite;
            animation: prev-btn 1s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear
}
.next-btn {
    background-image: url(../../image/tobi.gif?v=7a2a135b46e4a6bb4209c9a8f54e8d9f);
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 12px;
    background-size: auto 12px;
	pointer-events:none;
}
.now-1 .prev-btn, .now-1 .next-btn {
    display: none
}
.now-9 .next-btn {
    display: none
}
.audio-btn {
    background-image: url(../../image/audio-off.png?v=1f29f8fed68b8ee42fd39d1d8cf76275);
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    background-size: auto 26px
}
.audio-btn.on {
    background-image: url(../../image/audio-on.png?v=174494a0c4554f376371a33a4b61f92a);
    -webkit-animation: audio 3s infinite;
            animation: audio 3s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear
}
.share-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none
}
.share-layer .cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .8
}
.share-layer .text {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    color: #fff;
    text-align: right;
    background-image: url(../../image/share.png?v=6951e79b29146a5dc946ae932988c50a);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60px auto
}
.share-layer .close-btn {
    width: 30px;
    height: 30px;
    background-image: url(../../image/close.png?v=364876214b656e93177f6e969f042c3b);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    left: 10px;
    top: 10px
}
@-webkit-keyframes prev-btn {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes prev-btn {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes audio {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}
@keyframes audio {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}
.slide-01 {
    background-image: url(../../image/slide-01-bg.jpg?v=7aa4e8a89bf0e4c00ac68180406bfcbc)
}
.slide-01 .dl {
    background-image: url(../../image/slide-01-dl.png?v=e65ec9372a3ef38335a86f24ef756123);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 77px;
    left: 53%;
    height: 165px;
    width: 88px;
    margin-left: -44px;
    -webkit-animation: dl .8s infinite;
            animation: dl .8s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0
}
.slide-01.stop .dl {
    -webkit-animation: none;
            animation: none
}
.slide-01 .dl-l {
    width: 72px;
    height: 135px;
    top: 105px;
    left: 80px
}
.slide-01 .dl-r {
    width: 72px;
    height: 135px;
    top: 105px;
    left: 240px
}
.slide-01 .dl-2 {
    width: 30px;
    height: 55px;
    top: 227px;
    left: 60px;
    opacity: .7
}
.slide-01 .dl-2-2 {
    left: 140px
}
.slide-01 .dl-2-3 {
    left: 222px
}
.slide-01 .dl-2-4 {
    left: 298px
}
.slide-01 .dl-3 {
    width: 30px;
    height: 55px;
    top: 242px;
    left: 100px;
    opacity: .7
}
.slide-01 .dl-3-2 {
    left: 182px
}
.slide-01 .dl-3-3 {
    left: 261px
}
.slide-01 .dl-4 {
    width: 22px;
    height: 40px;
    top: 276px;
    left: 83px;
    opacity: .65
}
.slide-01 .dl-4-2 {
    left: 165px
}
.slide-01 .dl-4-3 {
    left: 245px
}
.slide-01 .dl-5 {
    width: 22px;
    height: 40px;
    top: 284px;
    left: 126px;
    opacity: .65
}
.slide-01 .dl-5-2 {
    left: 210px
}
.slide-01 .dl-5-3 {
    left: 285px
}
.slide-01 .open-btn {
    position: absolute;
    top: 335px;
    left: 50%;
    height: 27px;
    width: 110px;
    margin-left: -50px
}
@-webkit-keyframes dl {
    0% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg)
    }
    100% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg)
    }
}
@keyframes dl {
    0% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg)
    }
    100% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg)
    }
}
.slide-02 {
    background-image: url(../../image/slide-02-bg.jpg?v=c25cd52a3d0a8f8dc0af8884619d7890)
}
.slide-02 .head {
    background-image: url(../../image/slide-02-head.png?v=4285167972e0a61d067048ce5d5c7807);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 138px;
    top: 35px;
    width: 112px;
    height: 88px;
    -webkit-animation: head 1.2s infinite;
            animation: head 1.2s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear
}
@-webkit-keyframes head {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg)
    }
}
@keyframes head {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg)
    }
}
.slide-03 {
    background-image: url(../../image/slide-03-bg.jpg?v=37377fe267a810c1660b4833cda42331)
}
.slide-03 .bird-1, .slide-03 .bird-2 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-03 .bird-1 {
    background-image: url(../../image/slide-03-bird-1.png?v=71eeff4eef471ca21566e753211b257b);
    left: 17px;
    top: 128px;
    width: 100px;
    height: 136px;
    display: block
}
.slide-03 .bird-2 {
    background-image: url(../../image/slide-03-bird-2.png?v=5c73beeabc5a2202f3140ee18c75252c);
    left: 17px;
    top: 130px;
    width: 114px;
    height: 134px;
    display: none
}
.frame-1 .slide-03 .bird-1 {
    display: block
}
.frame-1 .slide-03 .bird-2 {
    display: none
}
.frame-2 .slide-03 .bird-1, .frame-3 .slide-03 .bird-1 {
    display: none
}
.frame-2 .slide-03 .bird-2, .frame-3 .slide-03 .bird-2 {
    display: block
}
.frame-4 .slide-03 .bird-1, .frame-5 .slide-03 .bird-1 {
    display: block
}
.frame-4 .slide-03 .bird-2, .frame-5 .slide-03 .bird-2 {
    display: none
}
.frame-6 .slide-03 .bird-1, .frame-7 .slide-03 .bird-1 {
    display: none
}
.frame-6 .slide-03 .bird-2, .frame-7 .slide-03 .bird-2 {
    display: block
}
.slide-04 {
    background-image: url(../../image/slide-04-bg.jpg?v=4f0eff5b5c3aaf3706d62a3cf2dd0177)
}
.slide-04 .bird-1-1, .slide-04 .bird-1-2, .slide-04 .bird-2-1, .slide-04 .bird-2-2, .slide-04 .hand-1, .slide-04 .hand-2, .slide-04 .boy {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-04 .bird-1-1 {
    background-image: url(../../image/slide-04-bird-1-1.png?v=17af47b2fdf856a5f50fc39b877b9642);
    left: 24px;
    top: 105px;
    width: 48px;
    height: 63px;
    display: block
}
.slide-04 .bird-1-2 {
    background-image: url(../../image/slide-04-bird-1-2.png?v=96721df74af67a4f2822f87d6ebda5bc);
    left: 24px;
    top: 105px;
    width: 48px;
    height: 63px;
    display: none
}
.bird-2-1 {
    background-image: url(../../image/slide-04-bird-2-1.png?v=9b43500a89dbc78d9b70b4e404601d27);
    left: 240px;
    top: 103px;
    width: 41px;
    height: 56px;
    display: block
}
.slide-04 .bird-2-2 {
    background-image: url(../../image/slide-04-bird-2-2.png?v=bd036fb354f8925a15623d0384cb108a);
    left: 240px;
    top: 103px;
    width: 41px;
    height: 56px;
    display: none
}
.slide-04 .hand-1 {
    background-image: url(../../image/slide-04-hand-1.png?v=0cebd293891d9a844b2a2abfe714688a);
    left: 43px;
    top: 194px;
    width: 92px;
    height: 72px;
    display: block
}
.slide-04 .hand-2 {
    background-image: url(../../image/slide-04-hand-2.png?v=71dd6a6ed8110338db9ea3415d40517d);
    left: 49px;
    top: 194px;
    width: 86px;
    height: 70px;
    display: none
}
.slide-04 .boy {
    background-image: url(../../image/slide-04-boy.png?v=a371913afc326daae5f4435654fcb0d7);
    left: 38px;
    top: 205px;
    width: 89px;
    height: 163px
}
.frame-1 .slide-04 .hand-1 {
    display: block
}
.frame-1 .slide-04 .hand-2 {
    display: none
}
.frame-2 .slide-04 .hand-1, .frame-3 .slide-04 .hand-1 {
    display: none
}
.frame-2 .slide-04 .hand-2, .frame-3 .slide-04 .hand-2 {
    display: block
}
.frame-4 .slide-04 .hand-1, .frame-5 .slide-04 .hand-1 {
    display: block
}
.frame-4 .slide-04 .hand-2, .frame-5 .slide-04 .hand-2 {
    display: none
}
.frame-6 .slide-04 .hand-1, .frame-7 .slide-04 .hand-1 {
    display: none
}
.frame-6 .slide-04 .hand-2, .frame-7 .slide-04 .hand-2 {
    display: block
}
.frame-1 .slide-04 .bird-1-2, .frame-1 .slide-04 .bird-2-2 {
    display: block
}
.frame-1 .slide-04 .bird-1-1, .frame-1 .slide-04 .bird-2-1 {
    display: none
}
.frame-2 .slide-04 .bird-1-2, .frame-2 .slide-04 .bird-2-2 {
    display: none
}
.frame-2 .slide-04 .bird-1-1, .frame-2 .slide-04 .bird-2-1 {
    display: block
}
.frame-3 .slide-04 .bird-1-2, .frame-3 .slide-04 .bird-2-2 {
    display: block
}
.frame-3 .slide-04 .bird-1-1, .frame-3 .slide-04 .bird-2-1 {
    display: none
}
.frame-4 .slide-04 .bird-1-2, .frame-4 .slide-04 .bird-2-2 {
    display: none
}
.frame-4 .slide-04 .bird-1-1, .frame-4 .slide-04 .bird-2-1 {
    display: block
}
.frame-5 .slide-04 .bird-1-2, .frame-5 .slide-04 .bird-2-2 {
    display: block
}
.frame-5 .slide-04 .bird-1-1, .frame-5 .slide-04 .bird-2-1 {
    display: none
}
.frame-6 .slide-04 .bird-1-2, .frame-6 .slide-04 .bird-2-2 {
    display: none
}
.frame-6 .slide-04 .bird-1-1, .frame-6 .slide-04 .bird-2-1 {
    display: block
}
.frame-7 .slide-04 .bird-1-2, .frame-7 .slide-04 .bird-2-2 {
    display: block
}
.frame-7 .slide-04 .bird-1-1, .frame-7 .slide-04 .bird-2-1 {
    display: none
}
.slide-05 {
    background-image: url(../../image/slide-05-bg.jpg?v=dd439752ac485df261a917d3024a729e)
}
.slide-05 .man-1, .slide-05 .man-2, .slide-05 .qi {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-05 .man-1 {
    background-image: url(../../image/slide-05-man-1.png?v=f61a9f3f47c473350b9816451ba552a7);
    left: 7px;
    top: 152px;
    width: 170px;
    height: 240px;
    display: block
}
.slide-05 .man-2 {
    background-image: url(../../image/slide-05-man-2.png?v=3e12f745483d8c7329b5786dddc755fc);
    left: 7px;
    top: 152px;
    width: 170px;
    height: 240px;
    display: none
}
.slide-05 .qi {
    background-image: url(../../image/slide-05-qi.png?v=07d53aa89579357f761abce70464760a);
    left: 145px;
    top: 237px;
    width: 32px;
    height: 24px;
    opacity: .8;
    display: none
}
.frame-1 .slide-05 .man-1, .frame-2 .slide-05 .man-1, .frame-3 .slide-05 .man-1 {
    display: block
}
.frame-1 .slide-05 .man-2, .frame-2 .slide-05 .man-2, .frame-3 .slide-05 .man-2 {
    display: none
}
.frame-1 .slide-05 .qi, .frame-2 .slide-05 .qi, .frame-3 .slide-05 .qi {
    display: none
}
.frame-4 .slide-05 .man-1, .frame-5 .slide-05 .man-1, .frame-6 .slide-05 .man-1, .frame-7 .slide-05 .man-1 {
    display: none
}
.frame-4 .slide-05 .man-2, .frame-5 .slide-05 .man-2, .frame-7 .slide-05 .man-2 {
    display: block
}
.frame-4 .slide-05 .qi, .frame-5 .slide-05 .qi, .frame-7 .slide-05 .qi {
    display: block
}
.slide-06 {
    background-image: url(../../image/slide-06-bg.jpg?v=b7fbbb19411201ee76ff7f648625a173)
}
.slide-06 .bird-1, .slide-06 .bird-2 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-06 .bird-1 {
    background-image: url(../../image/slide-06-bird-1.png?v=36c7ee6073fa9cf0052192aecc019692);
    left: 5px;
    top: 98px;
    width: 183px;
    height: 149px;
    display: block
}
.slide-06 .bird-2 {
    background-image: url(../../image/slide-06-bird-2.png?v=6f07762fc6e94acc1f1b6eeb6bfcb6cf);
    left: 5px;
    top: 98px;
    width: 183px;
    height: 149px;
    display: none
}
.frame-1 .slide-06 .bird-1 {
    display: block
}
.frame-1 .slide-06 .bird-2 {
    display: none
}
.frame-2 .slide-06 .bird-1, .frame-3 .slide-06 .bird-1 {
    display: none
}
.frame-2 .slide-06 .bird-2, .frame-3 .slide-06 .bird-2 {
    display: block
}
.frame-4 .slide-06 .bird-1, .frame-5 .slide-06 .bird-1 {
    display: block
}
.frame-4 .slide-06 .bird-2, .frame-5 .slide-06 .bird-2 {
    display: none
}
.frame-6 .slide-06 .bird-1, .frame-7 .slide-06 .bird-1 {
    display: none
}
.frame-6 .slide-06 .bird-2, .frame-7 .slide-06 .bird-2 {
    display: block
}
.slide-07 {
    background-image: url(../../image/slide-07-bg.jpg?v=468e175cd55725699d111050d1de211e)
}
.slide-07 .deng-1, .slide-07 .deng-2 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    -webkit-animation: deng .8s infinite;
            animation: deng .8s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0
}
.slide-07 .deng-1 {
    background-image: url(../../image/slide-07-deng.png?v=209e1eabe156a284109be77bff97422e);
    left: 20px;
    top: 0;
    width: 55px;
    height: 83px
}
.slide-07 .deng-2 {
    background-image: url(../../image/slide-07-deng.png?v=209e1eabe156a284109be77bff97422e);
    left: 61px;
    top: -5px;
    width: 45px;
    height: 68px
}
@-webkit-keyframes deng {
    0% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg)
    }
    100% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg)
    }
}
@keyframes deng {
    0% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg)
    }
    100% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg)
    }
}
.slide-08 {
    background-image: url(../../image/slide-08-bg.jpg?v=2e360234826ed2a5df9823b76eb80a25)
}
.slide-08 .bird-1, .slide-08 .bird-2, .slide-08 .yun, .slide-08 .text {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-08 .bird-1 {
    background-image: url(../../image/slide-08-bird-1.png?v=76628a0f61ffe626c33ca897e59c1772);
    left: 66px;
    top: 27px;
    width: 168px;
    height: 155px;
    display: block
}
.slide-08 .bird-2 {
    background-image: url(../../image/slide-08-bird-2.png?v=c36862da61fb2bd5d94f1f7586183bd7);
    left: 66px;
    top: 27px;
    width: 168px;
    height: 131px;
    display: none
}
.slide-08 .yun {
    background-image: url(../../image/slide-08-yun.png?v=bf4a48ca90ec40a5dc232cdbc9b8cd82);
    left: 152px;
    top: 14px;
    width: 116px;
    height: 49px;
    -webkit-animation: yun 2s infinite;
            animation: yun 2s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear
}
.slide-08 .text {
    background-image: url(../../image/slide-08-text.png?v=fce15eaa6721915ef8cbbfc3bf24f56c);
    left: 102px;
    top: 144px;
    width: 111px;
    height: 88px
}
.frame-1 .slide-08 .bird-1 {
    display: block
}
.frame-1 .slide-08 .bird-2 {
    display: none
}
.frame-2 .slide-08 .bird-1, .frame-3 .slide-08 .bird-1 {
    display: none
}
.frame-2 .slide-08 .bird-2, .frame-3 .slide-08 .bird-2 {
    display: block
}
.frame-4 .slide-08 .bird-1, .frame-5 .slide-08 .bird-1 {
    display: block
}
.frame-4 .slide-08 .bird-2, .frame-5 .slide-08 .bird-2 {
    display: none
}
.frame-6 .slide-08 .bird-1, .frame-7 .slide-08 .bird-1 {
    display: none
}
.frame-6 .slide-08 .bird-2, .frame-7 .slide-08 .bird-2 {
    display: block
}
@-webkit-keyframes yun {
    0% {
        -webkit-transform: translate(-10px, 0);
                transform: translate(-10px, 0)
    }
    100% {
        -webkit-transform: translate(10px, 0);
                transform: translate(10px, 0)
    }
}
@keyframes yun {
    0% {
        -webkit-transform: translate(-10px, 0);
                transform: translate(-10px, 0)
    }
    100% {
        -webkit-transform: translate(10px, 0);
                transform: translate(10px, 0)
    }
}
.slide-09 {
    background-image: url(../../image/slide-09-bg.jpg?v=4e897234a89864d8ee56ebcdae01ae11)
}
.slide-09 .card, .slide-09 .cover, .slide-09 .btn {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute
}
.slide-09 .card {
    background-image: url(../../image/slide-09-card.png?v=971368eed47ed57c4ece2c74b8ea3ad7);
    left: 59px;
    top: 145px;
    width: 229px;
    height: 248px;
    transition: all 1s
}
.slide-09 .card.hide {
    left: 110px;
    top: 400px
}
.slide-09 .cover {
    background-image: url(../../image/slide-09-cover.png?v=e3dbae52c08c38b06c77bc25f8acf6cc);
    right: 0;
    bottom: 0;
    width: 246px;
    height: 175px
}
.slide-09 .btn {
    background-image: url(../../image/slide-09-btn.png?v=8ba6f967e117efcdb22796f4f033631a);
    left: 65px;
    top: 343px;
    width: 176px;
    height: 19px
}
.slide-09 .share-btn {
    display: block;
    position: absolute;
    top: 340px;
    left: 62px;
    height: 25px;
    width: 70px;
    text-indent: -999px
}
.slide-09 .replay-btn {
    display: block;
    position: absolute;
    top: 340px;
    left: 160px;
    height: 25px;
    width: 85px;
    text-indent: -999px
}
